.dash-unit {

    margin: 10px;
    /* border: 1px solid #A25B5B; */
    /* background-image: url('../images/sep-half.png'); */
    background-color: #FF937C;
    color: white;
    height: 227px;
    border-radius: 2%;
}

.dash-unit a{
    color: white !important;
    font-size: 17px;
}

.dash-unit div:first-child{
    text-align: center;
}

.dash-unit hr{
    margin-top: 8px;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px solid #eee;
}

.dash-unit dtitle {
    font-size: 22px;
    text-align: center;
}

.dashing{
    margin: 10px;
    border: 1px solid #383737;
    /* background-image: url('../images/sep-half.png'); */
    background-color: #3d3d3d;
    color: white;
    height: 370px;
    border-radius: 2%;
}

.table-responsive1 {
    border: 1px solid #ccc;
    background: #fff;
}

.table-responsive1 table {
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
    margin-bottom: 0px;
}

.filterOps {
float: left;
    width: 100%;
    text-align: left;
        background: white;
}